@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Half Italic';
    src: url('../fonts/routed-gothic-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic';
    src: url('../fonts/routed-gothic-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Routed Gothic Condensed';
    src: url('../fonts/routed-gothic-narrow.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Condensed Half Italic';
    src: url('../fonts/routed-gothic-narrow-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic Condensed';
    src: url('../fonts/routed-gothic-narrow-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: condensed;
    font-style: italic;
}

@font-face {
    font-family: 'Routed Gothic Expanded';
    src: url('../fonts/routed-gothic-wide.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: normal;
}
@font-face {
    font-family: 'Routed Gothic Expanded Half Italic';
    src: url('../fonts/routed-gothic-wide-half-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: oblique;
}
@font-face {
    font-family: 'Routed Gothic Expanded';
    src: url('../fonts/routed-gothic-wide-italic.ttf') format('opentype');
    font-weight: normal;
    font-stretch: expanded;
    font-style: italic;
}
