@import url("../../clocks/css/normalize-8.0.1.css");
@import url("fonts.css");
@import url("clock.css");
@import url("../../clocks/css/menu.css");
@import url("../../clocks/css/modal.css");

:root {
    --background-color: #222;
    --foreground-color: #eee;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    position: relative;
}
#clock {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
